---
export interface Props {
    name: string;
    rank: string;
    logo: string;
}

const { name, rank, logo } = Astro.props;
// const thoughtDate = new Date(date);

let logoImg;

// https://developer.mozilla.org/en-US/docs/Web/API/HTMLImageElement/Image

if (logo) {
    logoImg = new Image(100);
    logoImg.src = logo;

}
console.log(logoImg);
---

<div class="cont">
    {logoImg}
    <h3>Skill: {name}</h3>
    <h4>Rank: {rank}</h4>
    <slot />
</div>

<style lang="scss">
    cont {
        border: solid black 3px;
        border-radius: 1rem;
        padding: 0 1rem;
        margin: 1rem;
    }
</style>