---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';

const pageTitle = 'About Kevin.';
const identity = {
	firstName: 'Kevin',
	country: 'Ireland',
	occupation: 'Junior Software Engineer',
	hobbies: ['software engineering', 'coding', 'learning about programming'],
};

const skills = [
	'HTML',
	'CSS',
	'JavaScript',
	'React',
	'Astro',
	'Python',
	'Django',
	'Writing Blogs',
];
const shadowColour = 'navy';

/*
https://www.webfx.com/blog/web-design/about-page-guidelines/
 * who are you kevin sullivan - Software Engineer
 * What do you do?
 * When did you start?
Maybe think of the 5 Ws
*/
---

<Layout title={pageTitle}>
	<main>
		<h2>SullivanSoftware.dev - About</h2>
		<article class="selector">
			<div class="q-bubble fade-in-section">
				<h4>Who is this?</h4>
				<p>
					My name is Kevin Sullivan, former Actuary and current Software Engineer.
					With a foundation in actuarial mathematics and economics, 
					I have evolved through role in rull-stack development and test automation to
					my current position building security solutions at Forcepoint.
					Currently pursuing an MSc. in Computer Science,
					I combine my analytical background with software engineeringg expertise to create robust
					systems that protect and enhance people's digital lives.
				</p>
			</div>
			<div class="q-bubble fade-in-section">
				<h4>What do you do?</h4>
				<p>
					I specialize in software design and development, utilizing
					my expertise in Python Django and React. With a strong
					technical toolkit including Python, JavaScript, CSS, and
					HTML, I leverage frameworks like Django and React to deliver
					robust solutions.
				</p>
			</div>
			<div class="q-bubble fade-in-section">
				<h4>Where do you do it?</h4>
				<p>
					I live in beautiful county Cork, Ireland. I am currently
					pursuing my MSc. in Computer Science with the International
					University of Applied Sciences. I have experience working
					remotely and prefer the flexibility and benefits of working
					from home.
				</p>
			</div>
			<div class="q-bubble fade-in-section">
				<h4>When did you start?</h4>
				<p>
					My first experience writing code was C++ back at Onondaga
					Community College in 2009 or 2010. Then, at the University
					at Albany I also took a Java course in probably 2012. I
					always loved programming, but didn't make it a career goal
					until more recent. I began learning programming with Python
					in mid-2020 and embarked on my MSc. in Computer Science at
					the beginning of 2023. 
					I started in the industry as a full-stack software engineer in 2022,
					and transitioned to test automation engineer in 2023.
					I have been actively expanding my
					skills and knowledge in software development since then.
				</p>
			</div>
			<div class="q-bubble fade-in-section">
				<h4>Why do you do it?</h4>
				<p>
					I am driven by the challenge and creativity that software
					development offers. I am passionate about leveraging
					technology to make people's lives easier and less stressful.
					Working from home aligns with my values, providing a
					conducive environment for focus, efficiency, and overall
					well-being.
				</p>
			</div>
			<div class="q-bubble fade-in-section">
				<h4>How do you do it?</h4>
				<p>
					I combine my technical expertise in Python Django, React,
					and other relevant technologies with a strategic mindset and
					analytical skills honed through my background in actuarial
					mathematics. I leverage Agile development principles and
					tools to deliver high-quality software solutions
					efficiently.
				</p>
				<p>
					I would also like to give a very special shout-out to my amazing
					wife Lisa, for all of her love and support, and without whom
					none of this would be possible.
				</p>
			</div>
		</article>
		<hr />
	</main>
</Layout>

<script>
    const elements = document.querySelectorAll('.fade-in-section');

    function fadeInElements() {
        elements.forEach((element) => {
            const rect = element.getBoundingClientRect();
            const isVisible = (rect.top - 15) < window.innerHeight // && rect.bottom >= 20;
            if (isVisible) {
                element.classList.add('is-visible');
            } else {
                element.classList.remove('is-visible');
            }
        });
    }

    window.addEventListener('scroll', fadeInElements);
    window.addEventListener('resize', fadeInElements);
    fadeInElements(); // Initial check on page load
</script>

<style define:vars={{ shadowColour }} lang="scss">
	h2 {
		font-family: Gloria Hallelujah;
		font-size: 2rem;
	}
	.q-bubble {
		width: auto;
		border-radius: 2rem;
		box-shadow: 0 1rem 1rem 0.5rem var(--shadowColour);
		padding: 1rem;
		margin: 2.5rem 0;
		h4 {
			font-family: "Pacifico";
			font-size: 1.5rem;
		}
		p {
			font-family: "VT323";
			font-size: 1.2rem;
		}
	}
	.selector div:nth-child(odd) {
		margin-left: 7rem;
		background-color: lightgreen;
	}
	.q-bubble:nth-child(even) {
		margin-right: 7rem;
		background-color: cyan;
	}
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 50rem;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
