---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';

const pageTitle = 'About Kevin.';
const identity = {
	firstName: 'Kevin',
	country: 'Ireland',
	occupation: 'Junior Software Engineer',
	hobbies: ['software engineering', 'coding', 'learning about programming'],
};

const skills = [
	'HTML',
	'CSS',
	'JavaScript',
	'React',
	'Astro',
	'Python',
	'Django',
	'Writing Blogs',
];
const shadowColour = 'navy';

/*
https://www.webfx.com/blog/web-design/about-page-guidelines/
 * who are you kevin sullivan - Software Engineer
 * What do you do?
 * When did you start?
Maybe think of the 5 Ws
*/
---

<Layout title={pageTitle}>
	<main>
		<h2>SullivanSoftware.dev</h2>
		<article class="selector">
			<div class="q-bubble">
				<h4>Who is this?</h4>
				<p>
					My name is Kevin Sullivan, former Actuary and current
					Software Engineer.
				</p>
			</div>
			<div class="q-bubble">
				<h4>What do you do?</h4>
				<p>
					I code and write software... Feel free to check out my
					skills section.
				</p>
			</div>
			<div class="q-bubble">
				<h4>Where do you do it?</h4>
				<p>I live in beautiful county Cork, Ireland.</p>
			</div>
			<div class="q-bubble">
				<h4>When did you start?</h4>
				<p>I live in beautiful county Cork, Ireland.</p>
			</div>
			<div class="q-bubble">
				<h4>Why do you do it?</h4>
				<p>I live in beautiful county Cork, Ireland.</p>
			</div>
			<div class="q-bubble">
				<h4>How do you do it?</h4>
				<p>I live in beautiful county Cork, Ireland.</p>
				<p>
					I would also like to give a very special shout-out to my
					wife Lisa, for all of her love and support, and without whom
					none of this would be possible.
				</p>
			</div>
		</article>
		<hr />
	</main>
</Layout>

<style define:vars={{ shadowColour }} lang="scss">
	.q-bubble {
		width: auto;
		border-radius: 2rem;
		box-shadow: 0 1rem 1rem 0.5rem var(--shadowColour);
		padding: 1rem;
		margin: 2.5rem 0;
	}
	.selector div:nth-child(odd) {
		margin-left: 7rem;
		background-color: lightgreen;
	}
	.q-bubble:nth-child(even) {
		margin-right: 7rem;
		background-color: cyan;
	}
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 50rem;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.hobby {
		color: var(--hobbyColour);
		font-weight: bolder;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
