---
export interface Props {
    title: string;
    body: string;
}

const { title, body } = Astro.props;

const allThoughts = await Astro.glob("@content/thoughts/*.md");
---

<div>
    <div class="gooey">
        <div class="thought-bubble far-left">&nbsp</div>
        <div class="thought-bubble mid-left">&nbsp</div>
        <div class="thought-bubble mid-middle">&nbsp</div>
        <div class="thought-bubble mid-right">&nbsp</div>
        <div class="thought-bubble far-right">&nbsp</div>
        <div style="border: red solid 2px; z-index: 1; position: absolute;">
            <h2>
                {title}
                <span>&rarr;</span>
            </h2>
            <p>
                {body}
            </p>
        </div>
    </div>
</div>
<style lang="scss">
    .thought-bubble {
        background-color: ghostwhite;
        border-radius: 50%;
        display: inline-block;
        height: 125%;
        width: 25%;
        position: absolute;
        z-index: 100;
        transform: translateY(-50%);
        top: 50%;
    }
    .far-left {
        left: 0;
    }
    .mid-left {
        left: 20%;
    }
    .mid-middle {
        left: 40%;
    }
    .mid-right {
        left: 60%;
    }
    .far-right {
        left: 80%;
    }

    .gooey {
        background: linear-gradient(120deg, #34e0f0 0%, #b400ff 100%);
        // border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        width: 25rem;
        // height: 144px;
        animation: morph 3s linear infinite;
        transform-style: preserve-3d;
        outline: 1px solid transparent;
        will-change: border-radius;
        z-index: 50;
    }
    .gooey::before {
        content: '';
        width: 50%;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        // border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        box-shadow: 5px 5px 89px rgba(0, 102, 255, 0.21);
        will-change: border-radius, transform, opacity;
        animation-delay: 200ms;
        background: linear-gradient(
            120deg,
            rgba(0, 67, 255, 0.55) 0%,
            rgba(0, 103, 255, 0.89) 100%
        );
    }
    .gooey::after {
        content: '';
        width: 50%;
        height: 100%;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        // border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        box-shadow: 5px 5px 89px rgba(0, 102, 255, 0.21);
        will-change: border-radius, transform, opacity;
        animation-delay: 200ms;
        background: linear-gradient(
            120deg,
            rgba(0, 67, 255, 0.55) 0%,
            rgba(0, 103, 255, 0.89) 100%
        );
    }
    .gooey::after {
        content: '';
        width: 25%;
        height: 100%;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        // border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        box-shadow: 5px 5px 89px rgba(0, 102, 255, 0.21);
        will-change: border-radius, transform, opacity;
        animation-delay: 200ms;
        background: rgba(0, 67, 255, 0.55) 0%;
    }

    .gooey:before {
        animation: morph 3s linear infinite;
        opacity: 0.21;
        animation-duration: 1.5s;
    }

    .gooey:after {
        animation: morph 3s linear infinite;
        animation-delay: 400ms;
        opacity: 0.89;
        line-height: 120px;
        text-indent: -21px;
    }

    @keyframes morph {
        0%,
        100% {
            // border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
            border-radius: 1rem / 1rem;
            transform: translate3d(0, 0, 0) rotateZ(0.01deg);
        }
        34% {
            // border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
            border-radius: 2rem / 2rem;
            transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
        }
        50% {
            opacity: 0.89;
            transform: translate3d(0, 0, 0) rotateZ(0.01deg);
        }
        67% {
            // border-radius: 50% 60% 60% 100% / 100% 100% 60% 60%;
            border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
            transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
        }
    }

    @keyframes fadeIn {
        100% {
            transform: scale(1.03);
            opacity: 0;
        }
    }
    /**
    * https://dev.to/ibn_abubakre/why-your-z-index-isn-t-working-i6j
    * https://www.freecodecamp.org/news/4-reasons-your-z-index-isnt-working-and-how-to-fix-it-coder-coder-6bc05f103e6c/
    */
</style>
