---
import MetaLayout from '@layouts/MetaLayout.astro';

import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import '@styles/global.scss';

const { frontmatter } = Astro.props;
---

<MetaLayout title={frontmatter.title}>
    <body>
        <Header />
        <h1>Kevin's Astro Site!</h1>
        <div class="heading-container">
            <figure>
                <img src="/construction.svg" alt="Construction sign" />
                <figcaption>
                    SVG by: <a href="https://loading.io/icon/1kgpjr"
                        >Loading.io</a
                    >
                </figcaption>
            </figure>
            <div class="page-details"></div>
        </div>
        <slot />
        <Footer />
        <script>
            import '@scripts/menu';
        </script>
    </body>
</MetaLayout>
<style is:global lang="scss">
    figcaption {
        font-size: 0.5rem;
    }
    .heading-container {
        display: flex;
        
    }
</style>
